#router-demo {
  position: relative;
  width: 100%;
  height: 100%;
}

#router-demo .fill {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  background: #272727;
}

#router-demo .mainRoute {
  position: absolute;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#router-demo .mainRouteItem {
  text-align: center;
}

#router-demo .subRoute {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#router-demo .content {
  flex: 1;
  font-size: 20px;
  color: white;
  height: 100%;
}

#router-demo .nav {
  padding: 0px;
  margin: 0px;
  top: 0px;
  height: 20px;
  display: flex;
  background-color: white;
  z-index: 1;
}

#router-demo .navItem {
  text-align: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  padding: 30px;
}

#router-demo .navItemUltra {
  margin-top: 64px;
}
