/* defaults */

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  vertical-align: baseline;
}

html {
  font-size: 12px;
}

@media (max-width: 500px) {
  html {
    font-size: 11px;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #111;
  min-width: 900px;
  font-weight: 400;
  font-kerning: normal;

  line-height: 1.5;
  letter-spacing: -0.002em;
  font: 15px/22px 'Inter', system-ui, sans-serif;
  font-kerning: normal;
}

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.code-table {
  display: flex;
  width: 100% !important;
}
.code-table {
  margin-bottom: 1em;
}
.code-table > pre:first-of-type {
  flex: 1.5;
  margin: 0;
}
.code-table > div:last-of-type {
  flex: 1;
}
.code-table > div:last-child {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f9;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: white;
}
